@font-face {
    font-family: first;
    src: url(AyerDeckMedium.woff2);
}
@font-face {
    font-family: second;
    src: url(AyerDeckRegular.woff2);
}
@font-face {
    font-family: third;
    src: url(AyerPosterRegularItalic.woff2);
}
@font-face {
    font-family: four;
    src: url(EpilogueVariableFont_wght.woff2);
}
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
    
}
#main{
    height: 100%;
    width: 100%;
    

}
#main #page1{
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 4%;
    background-image: url(p1\ first\ img.jpg);
    background-position: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}
#main #page1 #top{
    position: fixed;
    z-index: 999;
    height: 13%;
    width: 100%;
    margin-top: -5%;
    background-color: rgb(237, 235, 227);
    border-bottom: 2px solid black;
    

    
}
#page1 #top>h1{
    position: relative;
    left: 5%;
    font-size: 45px;
    top: 35%;
    text-transform: uppercase;
    font-family: first;
}
#page1 #top #top1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -26%;
    left: 50%;
    height: 70%;
    width: 50%;
    margin-left: -5px;
}
#page1 #top #top1 a{
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;



}
#page1 #top #top1 i{
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
   margin-right: 25px;
   


}
#page1>#mid{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 75%;
    width: 20%;
    border-radius: 25px;
    background-color: rgb(214, 111, 70);
}
#page1>#mid>h2{
    position: relative;
    left: 2%;
    top: 7%;
    
    color: rgb(39, 34, 34);
    text-align: center;
    font-family: second;
}
#page1>#mid>img{
    position: relative;
    left: 25%;
    top:-6%;
    height: 50%;
    width: 50%;
    
}
#page1>#mid>p{
    position: relative;
    left: 2%;
    bottom: 120px;
    font-size: 18px;
    color: rgb(39, 34, 34);
    text-align: center;
    
}
#page1>#mid>input{
    position: relative;
    bottom: 12%;
    left: 24%;
    background-color:rgb(214, 111, 70) ;
    border: none;
    text-align: center;
    font-size: 20px;
    height: 5%;
    width: 60%;
    border-bottom: 2px solid black;
}
#page1>#mid>h3>button{
    position: relative;
    left: 15%;
    bottom: 40px;
    height: 50px;
    width: 250px;
    background-color: rgb(121, 70, 48);
    border: none;
    color: rgb(250, 185, 159);
    text-transform: uppercase;
    font-family: first;
    font-size: 20px;
    font-weight: 500;
}
#page1>#mid>h4>button{
    height: 20px;
    width: 20px;
    border: 2px solid black;
    
    border-radius: 50px;
    background-color: rgb(214, 111, 70);
}
#page1>#mid>h4{
    position: relative;
    left: 13%;
    bottom: 30px;
    font-weight: 300;
    font-size: 11px;
    font-family: four;
    

}
#page1>#mid>h5{
    position: relative;
    left: 45%;
    bottom: 10px;
    font-weight: 300;
    font-size: 15px;
    font-family: four;
    

}
marquee {
    position: relative;
    height:8.3%;
    width: 100%;
    background-color: rgb(214, 111, 70);
    font-size: 50px;
    text-transform: uppercase;
    font-family: second;
    
}
#page2{

    height: 100%;
    width: 100%;
    
       
}
#page2>#topp{
    position: absolute;
    width: 100%;
    height: 55%;
    border-bottom: 2px solid black;
}
#page2>#topp>#left{
    position: relative;
    height: 100%;
    width: 25%;
    left: 75%;
    border-left: 2px solid black;
    z-index: -1;

}
#page2>#topp>#left>img{
    position: relative;
    left: 25%;
    top: 15%;
    height: 50%;
    width: 50%;
}
#page2>#topp>#left>h3{
    position: relative;
    left: 4%;
    top: 25%;
    font-size: 20px;
    font-family: first;
    text-align: center;
}
#page2>#topp>#right{
    position: relative;
    height: 100%;
    width: 75%;
    bottom: 100%;
}
#topp>#right>h1{
    position: relative;
    text-transform: uppercase;
    top: 28%;
    left: 3%;
    font-size: 25px;
    font-weight: 300;
    font-family: first;

}
#topp>#right>h2{
    position: relative;
    text-transform: capitalize;
    top: 15%;
    left: 35%;
    font-size: 35px;
    font-weight: 300;
    font-family: second;

}
#page2>h4{
    position: relative;
    top: 57%;
    left: 3%;
    font-size: 35px;
    font-family: first;
    font-weight: 300;
}
#page2>h5{
    position: relative;
    top: 52%;
    left: 88%;
    font-size: 35px;
    font-family: first;
    font-weight: 300;
    text-transform: uppercase;
}
#page2>#last{
    position:relative;
    top: 55%;
    height: 70%;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#page2>#last>#box{
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    width: 25%;
    border-left:2px solid black;
    background-image: url(p3\ 1img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#page2>#last>#box>h1{
    position: absolute;
    text-transform: uppercase;
    font-family: second;
    top: 90%;
    left: 5%;
    font-size: 22px;
}
#page2>#last>#box>h2{
    position: absolute;
    text-transform: uppercase;
    font-family: second;
    top: 90%;
    right: 5%;
    font-size: 22px;
}
#page2>#last>#box:hover #up  {
    opacity: 1;
    cursor: pointer;
}

#page2>#last>#box>#up{
    background-image: url(all\ img\ all.png);
    background-color: white;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity:0; 
}

#page2>#last>#box1{
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    width: 25%;
    left: 25%;
    border-left:2px solid black;
    background-image: url(p3\ 2img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#page2>#last>#box1>h1{
    position: absolute;
    text-transform: uppercase;
    font-family: second;
    top: 90%;
    left: 5%;
    font-size: 22px;
}
#page2>#last>#box1>h2{
    position: absolute;
    text-transform: uppercase;
    font-family: second;
    top: 90%;
    right: 5%;
    font-size: 22px;
}
#page2>#last>#box1:hover #up1  {
    opacity: 1;
    cursor: pointer;
}

#page2>#last>#box1>#up1{
    background-image: url(all\ second.png);
    background-color: white;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity:0; 
}
#page2>#last>#box2  {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    width: 25%;
    left: 50%;
    border-left:2px solid black;
    background-image: url(p3\ 3img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#page2>#last>#box2>h1{
    position: absolute;
    text-transform: uppercase;
    font-family: second;
    top: 90%;
    left: 5%;
    font-size: 22px;
}
#page2>#last>#box2>h2{
    position: absolute;
    text-transform: uppercase;
    font-family: second;
    top: 90%;
    right: 5%;
    font-size: 22px;
}
#page2>#last>#box2:hover #up2  {
    opacity: 1;
    cursor: pointer;
}

#page2>#last>#box2>#up2{
    background-image: url(all\ img\ all.png);
    background-color: white;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity:0; 
}
#page2>#last>#box3{
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    width: 25%;
    left: 75%;
    border-left:2px solid black;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#page2>h6{
    position: relative;
    top: 58%;
    left: 3%;
    font-size: 35px;
    font-family: first;
    font-weight: 300;
    text-transform: uppercase;
    
}
#page3{

    height: 100%;
    width: 100%;
    
       
}
#page3>#tp{
    position: relative;
    top: 46%;
    height: 75%;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#page3>#tp>#lf{
    position: absolute;
    height: 100%;
    width: 50%;
    background-image: url(p4\ img\ 1.jpg);
    background-position: center;
    background-size: cover;
    border-right: 2px solid black;
}
#page3>#tp>#lf:hover #upp2 {
    opacity: 1;
    cursor: pointer;
}
#page3>#tp>#lf>#upp2{
    height: 100%;
    width: 100%;
    background-color: rgb(214, 111, 70);
    opacity: 0;
}
#page3>#tp>#lf>#upp2>h1{
    position: relative;
    left: 8%;
    top: 5%;
    font-size: 25px;
    font-weight: 200;
    color: #fff;
    font-family: second;
}
#page3>#tp>#lf>#upp2>h2{
    position: relative;
    left: 8%;
    top: 10%;
    font-weight: 300;
    font-size: 75px;
    color: #fff;
    font-family: third;
}
#page3>#tp>#rh{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 50%;
    background-image: url(p4\ img2.jpg);
    background-position: center;
    background-size: cover;
    border-right: 2px solid black;
}
#page3>#tp>#rh:hover #upp {
    opacity: 1;
    cursor: pointer;
}
#page3>#tp>#rh>#upp{
    height: 100%;
    width: 100%;
    background-color: rgb(214, 111, 70);
    opacity: 0;
}
#page3>#tp>#rh>#upp>h1{
    position: relative;
    left: 8%;
    top: 5%;
    font-size: 25px;
    font-weight: 200;
    color: #fff;
    font-family: second;
}
#page3>#tp>#rh>#upp>h2{
    position: relative;
    left: 8%;
    top: 10%;
    font-weight: 300;
    font-size: 75px;
    color: #fff;
    font-family: third;
}
#page3>#lst{
    position: relative;
    width: 100%;
    height: 20%;
    top: 46%;
    border-bottom: 2px solid black;
}
#page3>#lst>#bxx{
    position: absolute;
    height: 100%;
    width: 25%;
    border-right: 2px solid black;
    
}
#page3>#lst>#bxx>h3{
    position: relative;
    top: 40%;
    left: 20%;
    font-size: 40px;
    font-family: second;
    z-index: 1;
    
}
#page3>#lst>#bxx :hover#blur{
    opacity:1;
    cursor: pointer;
    
}
#page3>#lst>#bxx>#blur{
    position: relative;
    bottom: 29.5%;
    height: 100%;
    width: 100%;
    background-color: rgb(214, 111, 70);
    opacity: 0;
}
#page3>#lst>#bxx1{
    position: absolute;
    height: 100%;
    width: 25%;
    left: 25%;
    border-right: 2px solid black;
}
#page3>#lst>#bxx1>h3{
    position: relative;
    top: 40%;
    left: 20%;
    font-size: 40px;
    font-family: second;
    z-index: 1;

}
#page3>#lst>#bxx1 :hover#blur1{
    opacity:1;
    cursor: pointer;
    
}
#page3>#lst>#bxx1>#blur1{
    position: relative;
    bottom: 29.5%;
    height: 100%;
    width: 100%;
    background-color: rgb(214, 111, 70);
    opacity: 0;
}
#page3>#lst>#bxx2{
    position: absolute;
    height: 100%;
    width: 25%;
    left: 50%;
    border-right: 2px solid black;
}
#page3>#lst>#bxx2>h3{
    position: relative;
    top: 40%;
    left: 20%;
    font-size: 40px;
    font-family: second;
    z-index: 1;

}
#page3>#lst>#bxx2 :hover#blur2{
    opacity:1;
    cursor: pointer;
    
    
}
#page3>#lst>#bxx2>#blur2{
    position: relative;
    bottom: 29.5%;
    height: 100%;
    width: 100%;
    background-color: rgb(214, 111, 70);
    opacity: 0;
    

    

}
#page3>#lst>#bxx3{
    position: absolute;
    height: 100%;
    width: 25%;
    left: 75%;
    border-right: 2px solid black;
}
#page3>#lst>#bxx3>h3{
    position: relative;
    top: 40%;
    left: 20%;
    font-size: 40px;
    font-family: second;
    z-index: 1;

}
#page3>#lst>#bxx3 :hover#blur3{
    opacity:1;
    cursor: pointer;
    
}
#page3>#lst>#bxx3>#blur3{
    position: relative;
    bottom: 29.5%;
    height: 100%;
    width: 100%;
    background-color: rgb(214, 111, 70);
    opacity: 0;
}
#page3>#end{
    position: relative;
    height: 35%;
    width: 100%;
    top: 46%;
    border-bottom: 2px solid black;
}
#page3>#end>#ed1{
    position: relative;
    height: 100%;
    width: 50%;
    border-right: 2px solid black;
    
}
#page3>#end>#ed1>h1{
    position: relative;
    top: 10%;
    left: 8%;
    font-family: first;
    font-weight: 100;
}
#page3>#end>#ed1>input{
    position: relative;
    top: 25%;
    left: 20%;
    height: 20%;
    width: 60%;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
}
#page3>#end>#ed1>button{
    position: relative;
    top: 30%;
    left: 20%;
    height: 20%;
    width: 60%;
    font-size: 30px;
    color: #fff;
    background-color: rgb(133, 132, 127);
    border: none;
    font-family: second;
}
#page3>#end>#ed1>h4{
    position: relative;
    top: 35%;
    left: 20%;
    font-family: four;
    font-size: 15px;
}
#page3>#end>#ed1>h4>button{
    position: relative;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 50px;
}

#page3>#end>#ed2{
    position: relative;
    height: 100%;
    width: 25%;
    left: 50%;
    bottom: 102%;
    border-right: 2px solid black;
    
}
#page3>#end>#ed2>p{
    position: relative;
    font-size: 23px;
    font-weight: 400;
    color: #000;
    top: 10%;
    left: 10%;
    margin-top: 8px;

}
#page3>#end>#ed2>h1{
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    right: -30%;
    top: 10%;
}
#page3>#end>#ed2>img{
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    right: -30%;
    top: 50%;
}
#page3>#end>#ed2>h2>img{
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    right: -55%;
    top: 45%;
    height: 25%;
    width: 25%;
}